@import '../../styles/_variables';

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    height: 5rem;
    background-color: #ccffeb;

    &__content {
        height: 100%;
        width: 100%;
        margin: 0 auto;
        padding: 0 $horizontal-padding;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
}

.menu-toggle {
    --size: 60px;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    position: relative;
    cursor: pointer;
    .bx-menu,
    .bx-x {
        position: absolute;
        transition: 0.3s ease-in-out;
    }

    .bx-x {
        opacity: 0;
        visibility: hidden;
    }

    .bx-x {
        opacity: 1;
        visibility: visible;
    }

     .bx-menu {
        opacity: 0;
        visibility: hidden;
    }
}

.line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
    transition: transform 0.4s ease-in-out;

}
.line1 {
    transform-origin: 0% 50%;
}

.line2 {
    transition: transform 0.2s ease-in-out;
}

.line3 {
    transform-origin: 0% 50%;
}

.line1-t {
    transform: rotate(45deg);
    transform-origin: 0% 50%;
}

.line2-t {
    transform: scaleY(0);
    transition: transform 0.2s ease-in-out;
}

.line3-t {
    transform: rotate(-45deg);
    transform-origin: 0% 50%;
}

.hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
