$image_width: 30%;
$image_height: $image_width * 1.3;

.home_page_container {
  width: 100%;
  height: 100%;
}

.home_page_image {
  --size: 40%;
  width: var(--size);
  height: var(--size + 20%);
  border-radius: 5%;
}

.home_header {
  display: flex;
  margin-bottom: 5%;
}

.home_welcome_container {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home_welcome {
  text-align: center;
  font-weight: bold;
}

.home_welcome_describe_header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 2%;
}

.home_welcome_describe {
  padding-bottom: 5%;
}

@media (max-width: 768px) {
  .home_welcome {
    font-size: small;
  }
}